<a href="https://colab.research.google.com/github/AdryanaLau/Job-Market-Analytics/blob/main/Untitled46.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Load the CSV file
df = pd.read_csv('combined_job_info (1).csv')

# Replace blank values with "Na"
df.replace({np.nan: 'Na'}, inplace=True)

# Remove "at" from the beginning of the 'company' column
df['company'] = df['company'].str.replace('^at ', '', regex=True)

# Remove "Where", "What", "No Company" from the 'company' column
df['company'] = df['company'].replace(['Where', 'What', 'No Company'], '', regex=True)

# Remove "No Title" from the 'title' column
df['title'] = df['title'].replace('No Title', '', regex=True)

# Remove "No Link" from the 'link' column
df['link'] = df['link'].replace('No Link', '', regex=True)

# Remove "No Date" from the 'posting_date' column
df['posting_date'] = df['posting_date'].replace('No Date', '', regex=True)

# Replace values in 'posting_date' with '0d ago' if more than 15 characters
df['posting_date'] = np.where(df['posting_date'].str.len() > 15, '0d ago', df['posting_date'])

# Remove rows with blank values
df = df.dropna()

# Save the cleaned DataFrame to a new CSV file
df.to_csv('cleaned_job_info.csv', index=False)

# Display the cleaned DataFrame
print(df)

     title company link posting_date
0
1
2
3
4
...    ...     ...  ...          ...
1225
1226
1227
1228
1229

[1230 rows x 4 columns]

In [ ]:
import pandas as pd
import numpy as np

# Load the CSV file
df = pd.read_csv('combined_job_info (1).csv')

# Replace blank values with "Na"
df.replace({np.nan: 'Na'}, inplace=True)

# Remove "at" from the beginning of the 'company' column
df['company'] = df['company'].str.replace('^at ', '', regex=True)

# Remove "Where", "What", "No Company" from the 'company' column
df['company'] = df['company'].replace(['Where', 'What', 'No Company'], '', regex=True)

# Remove "No Title" from the 'title' column
df['title'] = df['title'].replace('No Title', '', regex=True)

# Remove "No Link" from the 'link' column
df['link'] = df['link'].replace('No Link', '', regex=True)

# Remove "No Date" from the 'posting_date' column
df['posting_date'] = df['posting_date'].replace('No Date', '', regex=True)

# Replace values in 'posting_date' with '0d ago' if more than 15 characters
df['posting_date'] = np.where(df['posting_date'].str.len() > 15, '0d ago', df['posting_date'])

# Remove rows with blank values
df = df.dropna()

# Create a new column 'date_posting_clean'
df['date_posting_clean'] = df['posting_date'].str.replace('[dh ago]+', '', regex=True)

# Convert the new column to numeric
df['date_posting_clean'] = pd.to_numeric(df['date_posting_clean'], errors='coerce')

# Convert hours ('h' values) to equivalent days
df.loc[df['posting_date'].str.contains('h'), 'date_posting_clean'] /= 24

# Save the cleaned DataFrame to a new CSV file
df.to_csv('cleaned_job_info_with_days.csv', index=False)

# Display the cleaned DataFrame
print(df)

     title company link posting_date  date_posting_clean
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...    ...     ...  ...          ...                 ...
1225                                                 NaN
1226                                                 NaN
1227                                                 NaN
1228                                                 NaN
1229                                                 NaN

[1230 rows x 5 columns]

In [ ]:
import pandas as pd
import numpy as np

# Load the CSV file
df = pd.read_csv('cleaned_job_info_with_days.csv')

# Drop rows with any blank values
df = df.dropna()

# Save the DataFrame without blank rows to a new CSV file
df.to_csv('cleaned_job_info_without_blank_rows.csv', index=False)

# Display the cleaned DataFrame
print(df)

                                          title  \
10                    Senior/Principal Botanist
12                    Data Analyst Project Lead
15                                 Data Analyst
17                Workplace Health Data Analyst
21                               Data Scientist
...                                         ...
1197  Project Development Engineer - Signalling
1199                       Senior Data Engineer
1201                              Administrator
1203                 Project Automation Support
1218           Sr Project Automation Specialist

                                         company  \
10                 Biologic Environmental Survey
12    Department of Planning, Lands and Heritage
15                                 Alinta Energy
17                                RED OHMS Group
21                                   PERSOLKELLY
...                                          ...
1197                  Arc Infrastructure Pty Ltd
1199                 Telstra Corporation Limited
1201                                       Orica
1203                                     Bechtel
1218                     Fluor Australia Pty Ltd

                                                   link posting_date  \
10    https://www.seek.com.au//job/72034822?type=pro...       0d ago
12    https://www.seek.com.au//job/72225999?type=pro...       0d ago
15    https://www.seek.com.au//job/72205049?type=sta...       4d ago
17    https://www.seek.com.au//job/72104312?type=sta...       8d ago
21    https://www.seek.com.au//job/72180513?type=sta...       4d ago
...                                                 ...          ...
1197  https://www.seek.com.au//job/72217716?type=sta...       3d ago
1199  https://www.seek.com.au//job/72251002?type=sta...       1d ago
1201  https://www.seek.com.au//job/71894229?type=sta...      17d ago
1203  https://www.seek.com.au//job/71841611?type=sta...      19d ago
1218  https://www.seek.com.au//job/71687226?type=sta...      26d ago

      date_posting_clean
10                   0.0
12                   0.0
15                   4.0
17                   8.0
21                   4.0
...                  ...
1197                 3.0
1199                 1.0
1201                17.0
1203                19.0
1218                26.0

[385 rows x 5 columns]

In [ ]:
# Calculate the mode and its frequency of 'job_title'
title_counts = df['title'].value_counts()
mode_result = title_counts[title_counts == title_counts.max()]

if not mode_result.empty:
    mode_job_title = mode_result.index[0]  # The mode(s) can be multiple, so we take the first one
    mode_frequency = mode_result.iloc[0]
    print(f"Mode of job_title: {mode_job_title}, Frequency: {mode_frequency}")

    # Create a DataFrame with job titles and their frequencies
    title_frequency_df = pd.DataFrame({'Title': title_counts.index, 'Frequency': title_counts.values})

    # Save the DataFrame to a new CSV file
    title_frequency_df.to_csv('job_title_frequencies.csv', index=False)
    print("Job title frequencies saved to 'job_title_frequencies.csv'")
else:
    print("No mode found for job_title.")

Mode of job_title: Data Scientist, Frequency: 12
Job title frequencies saved to 'job_title_frequencies.csv'